# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
QUEUE=events_queue

# Telegram Notifications
TELEGRAM_API_URL=https://api.telegram.org
TELEGRAM_API_TOKEN=your_bot_token
CORS_ORIGIN=http://localhost:3001
